extends layout

block scripts
  link(rel='stylesheet', href='/stylesheets/register.css')
  link(rel='stylesheet', href='/stylesheets/responsive/register-1200.css', media='screen and (max-width: 1200px)')
  link(rel='stylesheet', href='/stylesheets/responsive/register-900.css', media='screen and (max-width: 900px)')
  link(rel='stylesheet', href='/stylesheets/responsive/register-600.css', media='screen and (max-width: 600px)')

block content
  .main
    .container
      h2 Login
      form(name='login-form', method='post')
        table
          tr
            td
              span Username
            td
              input(class="input" type="text" name="username" minlength="6" maxlength="20" pattern=".{6,}" required)
          tr
            td
              span Password
            td
              input(class="input" type="password" name="password" minlength="6" maxlength="20" pattern=".{6,}" required)
          tr
            td(colspan="2")
              input(class="submit" type="submit" value="Submit")
      if error
        p=error