extends layout

block scripts
  link(rel='stylesheet', href='/stylesheets/register.css')
  link(rel='stylesheet', href='/stylesheets/responsive/register-1200.css', media='screen and (max-width: 1200px)')
  link(rel='stylesheet', href='/stylesheets/responsive/register-900.css', media='screen and (max-width: 900px)')
  link(rel='stylesheet', href='/stylesheets/responsive/register-600.css', media='screen and (max-width: 600px)')
  script(src="/javascripts/register.js")

block content
  .main
    .container
      h2 Become a Member
      form(name='registration-form', method='post')
        table
          tr
            td 
              span Username
            td
              input(type="text" class="input" name="username" pattern=".{6,20}" required)
              span(class="glyphicon glyphicon-asterisk")
          tr
            td 
              span Password
            td
              input(type="password" class="input" name="password" pattern=".{6,20}" required)
              span(class="glyphicon glyphicon-asterisk")
          tr
            td 
              span First Name
            td
              input(type="text" class="input" name="first_name" pattern=".{2,20}" required)
              span(class="glyphicon glyphicon-asterisk")
          tr
            td 
              span Surname
            td
              input(type="text" class="input" name="last_name" pattern=".{2,20}" required)
              span(class="glyphicon glyphicon-asterisk")
          tr
            td 
              span Date of Birth
            td
              input(type="date" class="input" name="date_of_birth" pattern="[0-3][1-9]-[0-1][0-9]-[1-2][0-9][0-9][0-9]" placeholder="MM-DD-YYYY" required)
              span(class="glyphicon glyphicon-asterisk")
          tr
            td
              span Email Address
            td
              input(type="text" class="input" name="email_address" pattern="[a-zA-Z0-9._%+-]+[@]+[a-z0-9.-]+[.]+[a-z]{2,3}$" required)
              span(class="glyphicon glyphicon-asterisk")
          tr
            td(colspan="2")
              input(type="submit" class="submit" value="Submit")
      p=result
      if errors
        each error in errors
          p=error.message