/* Search Bar */

.search {
    width: 75%;
    margin: 7vh auto;
}

.search span {
    padding: 10px;
}

.search input, select {
    margin-right: 30px;
}

.search input, option, select {
    color: black;
}

/* Results */

.results {
    width: 75%;
    margin: 0 auto;
}

.results table {
    margin: 0 auto;
    margin-top: 40px;
    width: 100%;
}

.results th {
    text-align: center;
    padding-bottom: 10px;
}

.results td {
    padding: 20px;
    color: #589983;
}

.results p {
    padding: 20px;
}

#game, #console {
    text-align: center;
    background-color: transparent;
    border: none;
}

#game {
    width: 50%;
}

#console {
    width: 20%;
}

#add {
    background-color: transparent;
    border: 1px solid;
    text-align: right;
}

#add:hover {
    background-color: rgb(63, 63, 63);
}

/* Media Queries */

@media(max-width: 1200px) {
    
    .search {
        margin-top: 10vh;
    }
    
}

@media(max-width: 1040px) {
    
    .search span, .search select {
        display: block;
        padding: 0;
        margin-bottom: 10px;
    }
    
    .search select {
        margin-left: auto;
        margin-right: auto;
    }
    
    .search input {
        margin: 0;
        margin-bottom: 10px;
    }
    
    .results td {
        padding: 20px 0;
    }
    
    .results input {
        width: 100%;
        text-align: center;
        display: block;
        margin: 5px auto;
    }
    
    #add {
        width: auto;
        margin: 5px auto;
    }
    
    #game {
        width: 100%;
    }
    
}