/* Globals */

body {
    background-color: black;
    color: white;
    font-family: Orbitron, Verdana, sans-serif;
}

.container {
    width: 100%;
}

.wrapper {
    width: 100%;
	min-height: 90vh;
	position: relative;
}

.main {
    padding-top: 12vh;
    padding-bottom: 50px;
    text-align: center;
}

/* Animations */

@keyframes hover {
    from {
        color: white;
    }
    to {
        color: #AAA39B;
    }
}

/* Header */

.header {
    border-bottom: 1px outset white;
    background-color: black;
    width: 100%;
    height: 12vh;
    z-index: 1;
    position: fixed;
}

.header .container {
    height: 100%;
}

.logo {
    height: 100%;
    width: 20%;
    float: left;
}

.logo .container {
    position: relative;
}

.logo .container img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    max-width: 100%;
    height: auto;
}

.nav {
    height: 100%;
    width: 80%;
    float: right;
    position: relative;
}

.nav .container {
    text-align: right;
    position: absolute;
    height: 2em;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.nav ul {
    list-style: none;
}

.nav li {
    display: inline;
}

.nav span {
    padding: 0 20px;
}

.nav li a, .friends-btn {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-variant: small-caps;
    font-weight: 400;
    text-shadow: 2px 2px black;
    line-height: 23px;
}

.friends-btn {
    vertical-align: top;
}

.nav a:hover, .friends-btn:hover, .friends a:hover {
    animation-name: hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* Friends */

.friends-btn:focus {
    color: white;
}

.friends-btn {
    padding: 0;
    background-color: transparent;
    border: none;
}

.friends-btn span {
    padding-left: 10px;
}

.friends {
    background-color: rgb(30,30,30);
    border-left: 2px outset white;
    display: none;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 15%;
}

.friends th {
    text-align: center;
}

.friends table {
    text-align: center;
    width: 100%;
}

.friends input {
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
}

.friends h4 {
    margin: 40px auto 0 auto;
    width: 75%;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px outset white;
}

.friends table {
    margin: 20px auto;
}

.friends a, .friends p {
    font-size: 14px;
    vertical-align: center;
    margin: 0;
}

.friends a {
    color: white;
    text-decoration: none;
}

.friends tr {
    margin-bottom: 10px;
}

/* Footer */

.footer {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.footer a {
    margin: 10px;
}