/* Games Table */

.games {
    width: 100%;
    text-align: center;
    margin: 20px auto;
}

.games h3 {
    margin-top: 10vh;
    margin-bottom: 40px;
    text-align: center;
}

.games table {
    margin: 0 auto;
    width: 100%;
}

.games td, .games th {
    width: 25vw;
    text-align: left;
}

.glyphicon-pencil {
    text-align: right;
    padding-right: 40px;
}

.games tr {
    width: 75vw;
}

.games a {
    margin-top: 10px;
}

.games input {
    line-height: 17px;
}

/* Games */

#game-in-collection, #console-in-collection {
    width: 100%;
    background-color: transparent;
    border: none;
}

.button {
    background-color: transparent;
    border: 1px solid;
    padding: 3px;
}

.show-extras {
    margin-right: 10px;
}

.button:hover {
    background-color: rgb(63, 63, 63);
    cursor: pointer;
}

.edit-toggle-off {
    display: none;
}

.edit-toggle-on {
    display: block;
    cursor: pointer;
}

/* Games Info */

#edit-table {
    margin-top: 15px;
    margin-bottom: 15px;
}

#edit-table p {
    text-align: left;
}

#edit-table td {
    padding-left: 20px;
}

.edit, .edit-submit {
    display: none;
}

.edit-submit input {
    display: block;
    margin: 20px auto;
}

.edit p {
    padding-top: 5px;
    text-align: right;
}

.edit input {
    outline: none;
    border: 1px solid;
    border-radius: 5px;
    width: 50px;
    color: black;
}

.edit input:disabled {
    border: 1px solid grey;
}

.edit span {
    padding: 5px;
}

.edit ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.edit textarea {
    color: black;
}

/* Media Queries */

@media(max-width: 1200px) {
    
    .games table {
        width: 100vw;
    }
    
    .games td:second-child, .games th:second-child {
        width: 35vw;
    }
    
}

@media(max-width: 1025px) {
    
    .container {
        padding: 0;
        margin: 0;
    }
    
    .games table {
        margin-top: 10vh;
    }
    
    .games td {
        text-align: center;
        width: 100%;
        display: inline-block;
        margin: 5px 0;
    }
    
    .games input {
        display: inline-block;
        text-align: center;
    }
    
    #table-head {
        display: none;
    }
    
    .glyphicon-pencil {
        padding: 0;
        text-align: center;
    }
    
    #edit-table td {
        padding-left: 0;
    }
    
    #edit-table p {
        text-align: center;
    }
    
    .edit-submit {
        margin: 0;
        padding: 0;
    }
}
    
}