/* Login and Register */

.main .container {
    max-width: 950px;
    margin-top: 100px;
    background-color: #FBAB52;
    border-radius: 45px;
    box-shadow: 5px 5px 5px #6A4926;
}

.main table {
    width: 35%;
    margin: 20px auto;
}

.main .input {
    width: 75%;
    border: 1px solid white;
    border-radius: 5px;
}

.main .input:focus {
    outline-color: orange;
}

.main .input:valid {
    border-color: #2ECC71;
    color: #2ECC71;
}

.main .input:invalid {
    border-color: #E74C3C;
    color: #E74C3C;
}

.main .glyphicon {
    padding: 0 10px;
    margin: 0;
}

.main .submit {
    display: block;
    margin: 10px auto 0px auto;
    text-align: center;
    background-color: #B85349;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    padding: 0 20px;
    color: white;
}

.main .submit:hover {
    background-color: white;
    color: black;
}

.main input {
    font-size: 1em;
    margin: 5px 0;
    color: black;
}

.main span {
    padding: 10px;
    text-shadow: 2px 2px black;
    font-size: 1em;
}

.main h2, p {
    text-align: center;
    text-shadow: 2px 2px black;
}

.main h2 {
    font-size: 2em;
}

.main p {
    padding: 5px 0;
}