extends layout

block scripts
  link(rel='stylesheet', href='/stylesheets/main.css')

block content
  .main
    .jumbotron 
      .container
        h1 We help you to keep track of all the games in your collection.
        a(href="register" class="btn btn-danger") Sign Up

    .information
      .container
        table
          tr
            th
              h2 Game Suggestions
            th
              h2 Easy to Use
            th
              h2 Share
          tr
            td
              p Our software will suggest similar games to you from the games you have entered into your list.
            td
              p Simply just type in the game you want to add to your list, and it will be instantly added.
            td
              p Add Friends to your profile, and you can see what games you have in common.