doctype html
html
  head
    title GameDB
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    block scripts
  body
    .nav
      .container
        h2 GamesDB
        ul
          if !session
            li
              a(href="login") Login
            li 
              a(href="register") Register
          else
            li
              a(href="profile")=session.name.first
            li
              a(href="logout") Logout
  block content