extends layout

block scripts
  link(rel='stylesheet', href='/stylesheets/register.css')

block content
  .main
    .container
      h2 Login
      form(name='login-form', method='post')
        .input
          span Username
          input(type="text" name="username")
        .input
          span Password
          input(type="password" name="password")
        .input
          input(type="submit" value="Submit")

  .footer
    .container
      p &copy; Michael Tugby. Created in 2015.