extends layout

block scripts
  link(rel='stylesheet', href='/stylesheets/register.css')
  script(src="/javascripts/register.js")

block content
  .main
    .container
      h2 Login
      form(name='login-form', method='post')
        table
          tr
            td
              span Username
            td
              input(class="input" type="text" name="username" minlength="6" maxlength="20" required)
              span(class="glyphicon glyphicon-exclamation-sign")
          tr
            td
              span Password
            td
              input(class="input" type="password" name="password" minlength="6" maxlength="20" required)
              span(class="glyphicon glyphicon-exclamation-sign")
          tr
            td(colspan="2")
              input(class="submit" type="submit" value="Submit")
      if error
        p=error