extends layout

block scripts
  link(rel='stylesheet', href='/stylesheets/register.css')

block content
  .main
    .container
      h2 Login
      form(name='login-form', method='post')
        table
          tr(class="input")
            td
              span Username
            td
              input(type="text" name="username")
          tr(class="input")
            td
              span Password
            td
              input(type="password" name="password")
          tr(class="submit")
            td(colspan="2")
              input(type="submit" value="Submit")