extends layout

block scripts
  link(rel='stylesheet', href='/stylesheets/register.css')

block content
  .main
    .container
      p=result

  .footer
    .container
      p &copy; Michael Tugby. Created in 2015.