extends layout

block scripts
  link(rel='stylesheet', href='/stylesheets/profile.css')

block content
  .main
    .container
        
        if response
          h3=response
        else
          table
            tr
              th(colspan="2")
                h3 Your games:
            each game in gamesList
              tr
                td
                  form(name="delete-game-form-#{index}" method='post')
                    input(id='game-in-collection' type='text' name="selected-game" value=game.title readonly)
                    input(id='console-in-collection' type='text' name='selected-console' value=game.console readonly)
                    input(id='delete' type='submit' value="Remove Game")
              
        a(href="add_game" class="btn btn-primary") Add a Game