extends layout

block scripts
  link(rel='stylesheet', href='/stylesheets/profile.css')

block content
  .main
    .container
        
        if response
          h3=response
        else
          table
            tr
              th
                h2 Your games:
            each game in gamesList
              tr
                td
                  h4=game
              
        a(href="add_game" class="btn btn-primary") Add a Game