extends layout

block scripts
  link(rel='stylesheet', href='/stylesheets/profile.css')

block content
  .main
    .container
        h2=session.name.first + '\'\s games:'
        h3=response
        a(href="add_game" class="btn btn-primary") Add a Game