extends layout

block scripts
  link(rel='stylesheet', href='/stylesheets/register.css')
  script(src="/javascripts/register.js")

block content
  .main
    .container
      h2 Become a Member
      form(name='registration-form', method='post')
        table
          tr
            td 
              span Username
            td
              input(type="text" class="input" name="username" minlength="6" maxlength="20" required)
              span(class="glyphicon glyphicon-exclamation-sign")
          tr
            td 
              span Password
            td
              input(type="password" class="input" name="password" minlength="6" maxlength="20" required)
              span(class="glyphicon glyphicon-exclamation-sign")
          tr
            td 
              span First Name
            td
              input(type="text" class="input" name="first-name" minlength="2" maxlength="20" required)
              span(class="glyphicon glyphicon-exclamation-sign")
          tr
            td 
              span Surname
            td
              input(type="text" class="input" name="last-name" minlength="2" maxlength="20" required)
              span(class="glyphicon glyphicon-exclamation-sign")
          tr
            td 
              span Date of Birth
            td
              input(type="date" class="input" name="date-of-birth" required)
              span(class="glyphicon glyphicon-exclamation-sign")
          tr
            td
              span Email Address
            td
              input(type="text" class="input" name="email-address" maxlength="30" pattern="[a-z0-9._%+-]+[@]+[a-z0-9.-]+[.]+[a-z]{2,3}$" required)
              span(class="glyphicon glyphicon-exclamation-sign")
          tr
            td(colspan="2")
              input(type="submit" class="submit" value="Submit")
      p=result