/* Globals */

body {
    background-color: black;
    color: white;
    height: 100vh;
    font-family: Orbitron, Verdana, sans-serif;
}

.container {
    width: 100%;
}

.wrapper {
    width: 100%;
	min-height: 100%;
	position: relative;
}

.main {
    padding-top: 6%;
    padding-bottom: 50px;
    text-align: center;
}

/* Animations */

@keyframes hover {
    from {
        color: white;
    }
    to {
        color: #AAA39B;
    }
}

/* Header */

.header {
    border-bottom: 1px outset white;
    background-color: black;
    width: 100%;
    height: 12vh;
    z-index: 1;
    position: fixed;
}

.logo {
    width: 20%;
    float: left;
}

.logo .container img {
    display: inline;
}

.logo {
    margin: 30px 0;
}

.nav {
    width: 80%;
    margin-top: 40px;
    float: right;
}

.nav .container {
    text-align: right;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
}

.nav span {
    padding: 0 20px;
}

.nav li a, .friends-btn {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-variant: small-caps;
    font-weight: 400;
    text-shadow: 2px 2px black;
    line-height: 23px;
    vertical-align: top;
}

.nav a:hover, .friends-btn:hover, .friends a:hover {
    animation-name: hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* Friends */

.btn:focus {
    color: white;
}

.friends-btn {
    padding: 0;
    background-color: transparent;
    border: none;
}

.friends-btn span {
    padding-left: 10px;
}

.friends {
    background-color: rgb(30,30,30);
    border-left: 2px outset white;
    display: none;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 15%;
}

.friends th {
    text-align: center;
}

.friends table {
    text-align: center;
    width: 100%;
}

.friends input {
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
}

.friends h4 {
    margin: 40px auto 0 auto;
    width: 75%;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px outset white;
}

.friends table {
    margin: 20px auto;
}

.friends a, .friends p {
    font-size: 14px;
    vertical-align: center;
    margin: 0;
}

.friends a {
    color: white;
    text-decoration: none;
}

.friends tr {
    margin-bottom: 10px;
}

/* Footer */

.footer {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.footer a {
    margin: 10px;
}

/* Media Queries */

@media (max-width:1025px) {
    
    .logo {
        margin: 10px 0;
        float: none;
        width: 100%;
    }
    
    .logo .container img {
        display: block;
        margin: 0 auto;
    }
    
    .nav {
        width: 100%;
        float: none;
        margin-top: 0;
    }
    
    .nav .container {
        text-align: center;
    }
    
    .friends td {
        display: block;
        margin: 10px 0;
    }
    
    .nav li {
        display: block;
    }
    
    .nav span {
        display: none;
    }
    
    .nav button {
        margin-left: 30px;
    }
    
    .nav button span {
        display: inline;
    }
    
    .header {
        height: 22vh;
    }
    
    .main {
        padding-top: 17vh;
    }
    
}