/* Animations */

@keyframes movedown {
    from {
        margin-top: 10px;
    }
    to {
        margin-top: 20px;
    }
}

/* Jumbotron */

.jumbotron {
    color: white;
    height: 600px;
    width: 1280px;
    display: block;
    margin: 0 auto;
    background-color: transparent;
    background: url("../images/jumbotron.jpg") no-repeat center center;
}

.jumbotron .container {
    margin-top: 250px;
    text-align: center;
}

.jumbotron a {
    margin-top: 30px;
    padding: 10px 30px;
}

.jumbotron img {
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    fill: white;
}

.arrow {
    cursor: pointer;
}

.arrow .down {
    margin-top: 10px;
    border: solid white;
    border-width: 0 .4em .4em 0;
    display: inline-block;
    padding: .60em;
    transform: rotate(45deg);
}

.down:hover {
    animation-name: movedown;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Information Globals */

div[class^="information"] {
    margin-top: 60px;
}

div[class^="information"] h2 {
    text-align: center;
    padding: 20px;
}

div[class^="information"] p {
    line-height: 25px;
}

#pic, #icon {
    display: block;
    margin: 0 auto;
}

#icon {
    margin-top: 20px;
}

/* Information Individuals */

.information p {
    padding-top: 60px;
}

.information2 p {
    padding-top: 55px;
    text-align: right;
}

.information3 p {
    padding-top: 45px;
}