/* Animations */

@keyframes movedown {
    from {
        top: 0px;
    }
    to {
        top: 20px;
    }
}

/* Jumbotron */

.jumbotron {
    height: 90vh;
    margin: 0;
    color: white;
    display: block;
    background-color: transparent;
    background: url("../images/jumbotron.jpg") no-repeat center center;
    background-size: cover;
}

.jumbotron .container {
    margin-top: 40vh;
    text-align: center;
}

.jumbotron h1 {
    line-height: 40px;
}

.jumbotron a {
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 5px;
}

.jumbotron img {
    display: block;
    margin: 0 auto;
    fill: white;
}

.arrow {
    cursor: pointer;
    margin-top: 8em;
}

.arrow .down {
    position: relative;
    margin-top: .2em;
    border: solid white;
    border-width: 0 .3em .3em 0;
    display: inline-block;
    padding: .60em;
    transform: rotate(45deg);
}

.down:hover {
    animation-name: movedown;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Information Globals */

div[class^="information"] {
    line-height: 30px;
    font-size: 17px;
}

div[class^="information"] .container {
    padding: 20px;
    max-width: 75vw;
}

.pic, .icon {
    display: block;
}

.pic {
    margin-left: auto;
}

.icon {
    margin: 20px auto 0 auto;
    height: 75px;
    width: 75px;
}

/* Information Individuals */

.information h2 {
    text-align: center;
}

.information .row {
    margin-top: 20px;
}

.information p {
    padding-top: 60px;
}

.information2 p {
    padding-top: 2px;
    text-align: right;
}

.information2 table {
    margin: 0;
    padding: 0;
    text-align: right;
    margin-left: auto;
    margin-bottom: 5px;
}

.information2 td {
    padding-left: 10px;
}

.information2 .pic {
    margin-left: 0;
    margin-right: auto;
}

.information3 p:first-child {
    padding-top: 30px;
}