/* Animations */

@keyframes movedown {
    from {
        top: 0px;
    }
    to {
        top: 20px;
    }
}

/* Jumbotron */

.jumbotron {
    height: 40vw;
    color: white;
    display: block;
    margin: 0 auto;
    background-color: transparent;
    background: url("../images/jumbotron.jpg") no-repeat center center;
    background-size: cover;
}

.jumbotron .container {
    margin-top: 5vw;
    text-align: center;
}

.jumbotron h1 {
    font-size: 4vw;
}

.jumbotron a {
    margin-top: .5vw;
    padding: 1vw 3vw;
    font-size: 2vw;
}

.jumbotron img {
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    fill: white;
}

.arrow {
    cursor: pointer;
}

.arrow .down {
    position: relative;
    margin-top: .5vw;
    border: solid white;
    border-width: 0 .4vw .4vw 0;
    display: inline-block;
    padding: .60em;
    transform: rotate(45deg);
}

.down:hover {
    animation-name: movedown;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Information Globals */

div[class^="information"] {
    margin-top: 60px;
}

div[class^="information"] p {
    line-height: 25px;
}

#pic, #icon {
    display: block;
    margin: 0 auto;
}

#icon {
    margin-top: 20px;
}

/* Information Individuals */

.information p:first-child {
    padding-top: 60px;
}

.information2 p:first-child {
    padding-top: 18px;
}

.information2 table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.information2 span {
    padding-left: 10px;
}

.information3 p:first-child {
    padding-top: 30px;
}

/* Mobile Only */

@media (min-width:320px) {
    
    div[class^="information"] {
        text-align: center;
    }
    
    div[class^="information"] h2 {
        text-align: center;
        padding: 0px;
    }
    
}

/* Tablet Only */

@media (min-width:801px) {
    
    .jumbotron a {
        font-size: 16px;
    }
    
    .jumbotron .container {
        margin-top: 10vw;
    }
    
}

/* Desktop Only */

@media (min-width:1281px) {
    
    .jumbotron {
        width: 1280px;
        background-size: contain;
    }
    
    .jumbotron .container {
        margin-top: 250px;
    }
    
    .jumbotron h1 {
        font-size: 50px;
    }
    
    .jumbotron a {
        margin-top: 10px;
        padding: 10px 30px;
    }
    
    .information2 p {
        text-align: right;
    }
    
    .arrow .down {
        margin-top: 10px;
        border-width: 0 .4em .4em 0;
    }
    
    div[class^="information"] h2 {
        text-align: center;
        padding: 20px;
    }
    
}