/* Games Table */

.main {
    text-align: center;
}

.main .container {
    max-width: 950px;
}

.main table {
    width: 100%;
    margin-bottom: 20px;
}

.main th {
    text-align: center;
}

.main td {
    padding: 5px;
}

.main h4 {
    padding: 10px;
}

.main a {
    margin-top: 10px;
}

.main input {
    line-height: 17px;
}

/* Games */

#game-in-collection, #console-in-collection {
    text-align: left;
    background-color: transparent;
    border: none;
}

#game-in-collection {
    width: 100%;
}

#console-in-collection {
    width: 30%;
}

.button {
    background-color: transparent;
    border: 1px solid;
    padding: 3px;
}

.show-extras {
    margin-right: 10px;
}

.button:hover {
    background-color: rgb(63, 63, 63);
    cursor: pointer;
}

.edit-toggle-off {
    display: none;
}

.edit-toggle-on {
    display: block;
    cursor: pointer;
}

/* Games Info */

.edit, .edit-submit {
    display: none;
}

.edit p {
    padding-top: 5px;
    text-align: right;
}

.edit input {
    outline: none;
    border: 1px solid;
    border-radius: 5px;
    width: 50px;
    color: black;
}

.edit input:disabled {
    border: 1px solid grey;
}

.edit span {
    padding: 5px;
}

.edit ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.edit textarea {
    color: black;
}

/* Search Bar */

.search span {
    padding: 10px;
}

.search input, select {
    margin-right: 30px;
}

.search input, option, select {
    color: black;
}

/* Results */

.results table {
    margin-top: 40px;
    width: 100%;
}

.results th {
    text-align: center;
    padding-bottom: 10px;
}

.results td {
    padding: 20px;
    color: #589983;
}

.results p {
    padding: 20px;
}

#game, #console {
    text-align: center;
    background-color: transparent;
    border: none;
}

#game {
    width: 50%;
}

#console {
    width: 20%;
}

#add {
    background-color: transparent;
    border: 1px solid;
    text-align: right;
}

#add:hover {
    background-color: rgb(63, 63, 63);
}