/* Games Table */

.games {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.games table {
    width: 100%;
    margin-bottom: 20px;
}

.games th {
    text-align: center;
}

.games td {
    padding: 5px;
}

.games a {
    margin-top: 10px;
}

.games input {
    line-height: 17px;
}

/* Games */

#game-in-collection, #console-in-collection {
    text-align: left;
    background-color: transparent;
    border: none;
}

#game-in-collection {
    width: 100%;
}

#console-in-collection {
    width: 30%;
}

.button {
    background-color: transparent;
    border: 1px solid;
    padding: 3px;
}

.show-extras {
    margin-right: 10px;
}

.button:hover {
    background-color: rgb(63, 63, 63);
    cursor: pointer;
}

.edit-toggle-off {
    display: none;
}

.edit-toggle-on {
    display: block;
    cursor: pointer;
}

/* Games Info */

.edit, .edit-submit {
    display: none;
}

.edit p {
    padding-top: 5px;
    text-align: right;
}

.edit input {
    outline: none;
    border: 1px solid;
    border-radius: 5px;
    width: 50px;
    color: black;
}

.edit input:disabled {
    border: 1px solid grey;
}

.edit span {
    padding: 5px;
}

.edit ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.edit textarea {
    color: black;
}